@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Rouge+Script&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #f7e4e6;
  color: #595959;
  font-family: "El Messiri", sans-serif;
}
.newlyweds {
  font-family: "Rouge Script", cursive;
  font-size: 10rem;
  color: #623c27;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
}
.wedding-date {
  font-family: Updock;
  font-size: 70px;
  text-align: center;
  margin-top: 1%;
}
nav {
  top: 0px;
  left: 0px;
  position: absolute;
}

.page {
  height: 100vh;
  border-top: 4px solid #287e68 ;
}
