@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Rouge+Script&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  color: #463f3a;
  font-family: "El Messiri", sans-serif;
  padding: 5rem;
  background-color: #f4f3ee;
}
main {
  /* background-color: #f7e4e6; */
  background-color: #faf2f0;
}
.newlyweds {
  font-family: "Rouge Script", cursive;
  font-size: 18rem;
  color: #623c27;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
}
.wedding-date {
  font-size: 70px;
  text-align: center;
  margin-top: 1%;
}
nav {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f4f3ee;
  position: sticky;
  top: 0;
  text-align: center;
}
nav a {
  color: #463f3a;
  text-decoration: none;
  margin: 0 1rem;
}
header {
  text-align: center;
}
.page {
  padding-top: 2rem;
}
#countdown {
  font-size: 6rem;
}
.header-photo {
  max-width: 100%;
}
.welcome-photo img {
  max-width: 100%;
}
#welcome {
  display: flex;
}
.welcome-photo {
  flex: 50%;
}
.welcome-text {
  flex: 50%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}